body {
  background-color: #f3f2ff;
}

.home-container {
  background-color: #f3f2ff;
}

.home-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.home-logo {
  width: 2.5rem;
}

.home-name {
  margin-left: 0.5rem;
  width: 7rem;
}

.hero-row {
  height: 85vh;
}

.hero-heading {
  padding: 140px 0 0 40px;
}
.hero-text-blue {
  color: #4b3cff;
}

.hero-subheading {
  font-size: 18px;
  color: #6b6a86;
  font-weight: 200;
}

.hero-image {
  width: 90%;
}
