.posts-body-container {
  padding: 0 5rem;
  background-color: #f1f5f9;
}

.posts-table-outercontainer {
  padding: 0 2.5rem;
  @media only screen and (max-width: 991.9px) {
    padding: 0;
  }
}

.posts-table-innercontainer {
  background-color: white;
  padding: 1rem;
  border-radius: 7px;

  @media only screen and (max-width: 991.9px) {
    padding: 0.2rem;
  }
}
.table-row-label {
  margin-bottom: 1.5rem;
}

.table-label {
  padding: 0;
  font-weight: 500;
  color: #1a2142;
  text-align: center;
  @media only screen and (max-width: 991.9px) {
    font-size: 0.7rem;
  }
}

.table-row-post {
  color: #5d657b;
  font-weight: 300;
  text-align: center;
  border-top: solid;
  border-top-color: #efefef;
  border-top-width: 1px;
  padding: 0.5rem 0;
  align-items: center;
  text-decoration: none;
  @media only screen and (max-width: 991.9px) {
    font-size: 0.7rem;
  }
}
/*    ////////////////////////////////////////    */
/*    Start Sentiment Overview Styling Section    */
/*    ////////////////////////////////////////    */

.overview-card-box {
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),
    0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  border-radius: 7px;
  border: 1px;
  margin: 0.75rem;

  @media only screen and (max-width: 991.9px) {
    margin: 0.5rem;
  }
}

.overview-card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #1a2142;
  margin: 0;
}

.section-outer-wrapper {
  padding: 0 0.75rem;
}

.section-inner-wrapper {
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),
    0px 0px 2px 0px rgba(145, 158, 171, 0.2);
}

.sentiment-body-container {
  padding: 0 0.75rem;
}

.tag-column {
  padding: 0 1rem 0 0;
}

.tag-barchart-wrapper {
  height: 500px;
  max-width: 100%;
  background-color: white;
  padding: 1rem;
  align-items: center;
  justify-items: center;
}

.overview-barchart-wrapper {
  height: 500px;
  width: 400px;
  background-color: white;
  padding: 1rem;
}

.overview-linechart-wrapper {
  height: 500px;
  max-width: 100%;
  background-color: white;
  padding: 1rem;
}
